.catalog {
  max-width: 760px;
}

.catalog__inner {
  padding-left: 2%;
  padding-right: 4%;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-bottom: 0;
}

.catalog__information {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  max-width: 406px;
}

.information__remark,
.information__title,
.information__text {
  margin-top: 0;
  color: $grey;
}

.information__remark,
.information__text {
  color: $grey;
}

.information__title,
.information__text {
  font-weight: 500;
}

.information__remark {
  font-weight: 700;
  margin-bottom: 24px;
}

.information__title {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 56px;
  color: $vio;
}

.information__text {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 32px;
}

.catalog__checklist {
  display: flex;
  justify-content: space-between;
  max-width: 460px;
  margin-bottom: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.catalog__colors {
  display: flex;
  flex-direction: column;
}

.color__header,
.size__header,
.counter__title,
.price__title {
  margin-top: 0;
  color: $grey;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.color__header {
  margin-bottom: 8px;
}

.color__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.color__button {
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 17px;
  border-width: 2px;
  border: 2px solid $white;
}

.color__button:not(:last-child) {
  margin-right: 12px;
}

.color__button-black {
  background-color: $black;
}

.color__button-grey {
  background-color: $grey;
}

.color__button-blue {
  background-color: $dark-blue;
}

.color__button:hover,
.color__button:focus {
  outline: solid 2px $grey;
}

.color__button--active,
.color__button:active {
  outline: solid 2px $black;
}

.catalog__sizes {
  display: flex;
  flex-direction: column;
}

.size__header {
  margin-bottom: 5px;
}

.size__buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.size__button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  padding: 0;
  color: $grey;
  text-transform: uppercase;
  cursor: pointer;
}

.size__button:not(:last-child) {
  margin-right: 10px;
}

.size__button:hover,
.size__button:focus {
  color: $grey;
  border: 1px solid $grey;
  border-radius: 17px;
}

.size__button--active,
.size__button:active {
  color: $vio;
  border: 1px solid $vio;
  border-radius: 17px;
}

.size__buttons:disabled {
  color: $disabled;
}

.catalog__guide {
  margin-top: 10px;
}

.catalog__guide-link {
  color: $bronze;
  border: 1px solid $bronze;
  border-radius: 17px;
  padding: 3px 13px;
}

.catalog__guide-link:hover,
.catalog__guide-link:focus {
  opacity: 0.5;
}

.catalog__cost {
  display: flex;
  max-width: 460px;
  margin-bottom: 40px;
}

.catalog__counter {
  padding-right: 83px;
}

.counter__title {
  margin-bottom: 12px;
}

.price__title {
  margin-bottom: 8px;
}

.price__text {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  color: $bronze;
}

.price__zeros {
  font-size: 28px;
  line-height: 40px;
  color: $grey;
}

.counter__buttons {
  display: flex;
  align-items: center;
}

.counter__input {
  border: none;
  font-size: 24px;
  line-height: 24px;
  width: 31px;
  height: 31px;
  text-align: center;
  background-color: $white;
}

.counter__input::-webkit-outer-spin-button,
.counter__input::-webkit-inner-spin-button {
  appearance: none;
}

.counter__button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 26px;
  height: 26px;
  padding: 2px 0 0 0;
}

.counter__button--active,
.counter__button:active {
  border: 1px solid $black;
  border-radius: 17px;
}

.catalog__details {
  margin-bottom: 32px;
}

.details__information {
  margin-bottom: 72px;
  position: relative;
}

.details__information::after {
  content: "";
  border-bottom: 1px solid $input-color;
  width: 100%;
  top: -21px;
  position: absolute;
}

.details__information::before {
  content: "";
  border-bottom: 1px solid $input-color;
  width: 100%;
  top: -229px;
  position: absolute;
}

.details__title,
.details__text,
.details__remark {
  margin-top: 0;
}

.details__title,
.details__remark {
  color: $grey;
}

.details__title,
.details__text {
  margin-bottom: 8px;
}

.details__title {
  text-transform: uppercase;
  font-weight: 700;
}

.details__text {
  color: $vio;
}

.details__remark {
  margin-bottom: 0;
  line-height: 20px;
}

.details__button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $white;
  background-color: $vio;
  border: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 32px;
}

.details__button:hover,
.details__button:focus {
  background-color: $medium-blue;
}

.details__button:active {
  background-color: $light-blue;
}

.catalog__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.list__item {
  position: relative;
  cursor: pointer;
}

.list__item::after {
  content: "";
  border-bottom: 1px solid $input-color;
  width: 100%;
  bottom: -9px;
  position: absolute;
}

.list__title {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}

.list__item:not(:last-child) {
  margin-bottom: 24px;
}

.list__text {
  margin: 0;
  height: 0;                                  // нулевая высота для скрытия текста аккордеона
  overflow: hidden;
}

.list__item.list__item--active .list__text {  // стили для аккордеона (при наличии класа --active у текста появляется высота, изначально нулевая)
  height: 47px;
  overflow: visible;
}

.list__button {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  background-image: url("../img/plus-icon.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.list__item.list__item--active .list__button {      // стили для аккордеона (при наличии класса --active у кнопки меняется background)
  background-image: url("../img/minus-icon.svg");
}

@media (max-width: $max-tablet-width) {
  .catalog {
    max-width: 100%;
  }

  .catalog__inner {
    margin-top: 0;
    padding-left: 4%;
  }

  .information__remark {
    margin-bottom: 16px;
  }

  .catalog__information {
    margin-bottom: 28px;
    max-width: 100%;
  }

  .catalog__checklist {
    margin-bottom: 36px;
  }

  .catalog__cost {
    margin-bottom: 32px;
  }

  .details__information,
  .catalog__details {
    margin-bottom: 40px;
  }

  .details__information::before {
    top: -223px;
  }
}

@media (max-width: $max-mobile-width) {
  .information__title {
    font-size: 32px;
    line-height: 32px;
  }

  .information__text {
    font-size: 18px;
    line-height: 28px;
  }

  .catalog__information,
  .catalog__checklist {
    margin-bottom: 32px;
  }

  .catalog__checklist {
    flex-direction: column;
    align-items: flex-start;
  }

  .color__group,
  .catalog__sizes {
    margin-bottom: 24px;
  }

  .size__buttons-wrapper {
    transform: translateX(-6px);
  }

  .catalog__cost {
    margin-bottom: 44px;
  }

  .catalog__list {
    margin-bottom: 48px;
  }

  .details__information::before {
    top: -370px;
  }

  .list__item.list__item--active .list__text {
    height: 125px;
    overflow: visible;
  }
}
